.picture{
    width: 50%;
    height: 100vh;
    padding: 50px;
 float: left;
   
}
.text{
    width: 50%;
    height: 100vh;
    float: right;

}

.text .word p{
    padding: 5%;

}
.text .word h1{
    padding: 5%;
    text-align: center;
}
.profil{
    height: 80vh;
    width:100%; /*container-width*/
    overflow:hidden; /*hide bounds of image */
    margin:0;   /*reset margin of figure tag*/
  
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profil img{
    display:block; 
    width:100%; /*make image streatch*/ 
}

@media(max-width: 900px){
    .picture{
        width: 100%;
        height: 100vh;
      
    }
    .text{
        width: 100%;
        height: 100vh; 
    }
    
    
}