*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

 body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

#check{
    display: none;
}
.checkBtn span{
    color: rgb(20, 173, 211);
    font-size: 50px;
    line-height: 80px;
    float: right;
    margin-right: 25px;
    cursor: pointer;
    display: none;
    padding-left: 0;
}
#close{
    display: none;
}
nav{
    width: 100%;
    height: 80px;
    background-color: rgb(20, 173, 211);
} 

 nav ul {
    float: right;
    margin-right: 70px;
} 
.home-content{
    padding-top: 150px;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: calc(100vh - 80px);
}

.home-content .text-1, .text-2, .text-3  {
    color: white;
    font-size: 35px;
    padding-left: 20%;
    font-weight: bolder;
}

 nav ul li{
    display: inline;
    line-height: 80px;
    margin: 0 5px;
} 
 nav ul li a {
    color: white;
    font-size: 20px;
    padding: 7px 17px;
} 
nav ul li a:hover{
    color: burlywood
}

 label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    font-weight: bolder;
   padding-left: 40px;
} 

.word{
    font-size: 6mm;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 3mm;
    text-align: justify;
}


/* Home section styling */
section{
    background: url(../photos/bg.jpg) no-repeat ;
    background-size: cover;
    height: calc(100vh - 80px)
}

#aboutMe{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}


/* Mobil styling start */
@media(max-width: 900px){
    .checkBtn span{
        display: block;
        color: white;
    }
   nav ul{
       position: absolute;
       z-index: 10;
       width: 100%;
       height: calc(100vh - 80px);
       background-color: black;
       left: -100%;
       transition: all 0.4s;

   }
   nav ul li{
       display: block;
       margin: 30px 0;
       text-align: center;
 
}
nav ul li a{
    font-size: 20px;
}


label.logo{
    color: white;
    font-size: 35px;
    margin: 0 0 0 0;
    
} 


} 



